.signup_container {
    position: absolute;
    margin-top: 3%;
    height: 80%;
    width: 80%;
}

.signup_background {
    top: 100px;
    filter: blur(5px);
    filter: brightness(50%);
    margin-top: 60px;
    /* margin-bottom: 30px; */
    width: 100% !important;
    height: 100% !important;
    /* margin: 0; */
}

.o-heading {
    display: block;
    color: white;
    direction: ltr;
    padding-right: 10px;
    width: 100%;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    /* border-bottom: 1px solid #ccc; */
    padding: 0 0 5px 0;
    margin: 40px auto 20px auto;
    max-width: 800px;
}

.c-signup-member {
    min-width: 300px;
    max-width: 800px;
    margin: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.c-signup {
    display: flex;
    min-width: 300px;
    max-width: 800px;
    /* margin: 30px; */
    grid-template-columns: repeat(2, 1fr);
}

.c-signup__field>input[type] {
    width: 100%;
}

.c-signup__field--fill {
    grid-column: span 2;
}

.c-signup__button {
    /* grid-column: span 2; */
    /* text-align: right; */
    float: right;
}

.names {
    color: red;
}

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #00284f
}

form {
    width: 100%;
}

.h-line {
    border-top: 1px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

.v-line {
    border-left: 1px solid gray;
    margin-top: 90px;
    height: 400px;
}

label {
    color: white;
}

button {
    background: #0072c0 !important;
}

button:hover {
    background: #0076ab !important;
}

.uni-options {
    color: black;
    display: flex;
    margin-left: 40px;
    width: 65%;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    font-size: 45px;
}

.select-uni {
    color: black;
}

.options {
    color: black;
    width: 50%;
    display: flex;
    justify-content: center;
}

.label-uni {
    color: black;
}

.uni-input {
    color: black;
    width: 60%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
}

.tehran {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-weight: bold;
    line-height: 2;
    width: 72%;
    /* padding: 0 25%; */
    color: white;
    /* padding-top: 31px; */
}

.last {
    display: flex;
    justify-content: space-between;
    align-items: center;
}