.signup_container {
    position: absolute;
    margin-top: 7%;
    height: 80%;
    width: 80%;
}

.signup_background {
    position: relative;    
    filter: blur(5px);
    filter: brightness(50%);
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100% !important;
    height: 100% !important; 
    margin: 0;
}

.o-heading {
    display: block;
    color: white;
    direction: rtl;
    padding-right: 10px;
    width: 100%;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding: 0 0 5px 0;
    margin: 40px auto 20px auto;
    max-width: 800px;
}

.c-signup {
    min-width: 300px;
    max-width: 800px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.c-signup__field>input[type] {
    width: 100%;
}

.c-signup__field--fill {
    grid-column: span 2;
}

.c-signup__button {
    grid-column: span 2;
    text-align: right;
}

.names {
    color: red;
}

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #00284f
}

form {
    width: 100%;
}

.line {
    border-top: 1px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    color: white;
}

button {
    background: #0072c0 !important;
}

button:hover {
    background: #0076ab !important;
}